*{
  box-sizing: border-box;
}

body{
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Open Sans Condensed", sans-serif;
  line-height: 1.5;
}
.container{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */
.site-header{
  background-color: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.site-list-item{
margin-right: 32px;
}

.site-list-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sitenav{
  display: flex;
  list-style: none;

}

.sitenav-link{
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-decoration: none;
  color:  #222;
}


.main-link{
  font-weight: bold;
  font-size: 15px;
  padding: 12px 24px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #DE2E54;
  background-color:#FFFFFF;
  text-decoration: none;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0EB4C1;
  color: #fff;
}

.hero-content{
  width: 500px;
}

.hero-link{
  font-weight: bold;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  background-color:#de2e54;
  text-decoration: none;
  font-family: "Open Sans", "Condensed";
}

.hero-heading{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #FFFFFF;
  font-family: "Open Sans", "Condensed";
}

.hero-text{
  font-size: 18px;
  line-height: 1.5;
  color: #FFFFFF;
  font-family: "Open Sans";
}

.hero-img{
  width: 423px;
  height: 504px;

}

.service-main-heading{
  width: 133px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  font-family: "Open Sans", "Condensed";

}

.service-sub-heading{
  font-weight: bold;
  font-size: 24px;
  font-family: "Open Sans" "Condensed";
  line-height: 1.2;
  color: #222222;
}

.service-list-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service.img{
padding-left: 288px;
}

.service-info{
  width: 600px;
}

.service-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #444444;
}

.footer-top{
  background-color: #0EB4C1;
  color: #FFFFFF;
}

.footer-bottom{
  background-color: #222;
}

.sitenav-bottom>ul{
  list-style: none;

}

.site-bottom-link{
  text-decoration: none;
  color: #fff;
}

.footer-top-heading{

}

.footer-sign{
  display: flex;
  align-items: center;

}


.site-bottom-action{
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.bottom-header{
  display: flex;
  align-items: center;
}